/** @format */

body {
  background: rgb(80, 61, 46, 0.9);
}

.page-header {
  font-size: 50px; 
  text-align: center; 
  margin: 0 0 50px 0; 
  font-family: 'Righteous', cursive;
}

.container {
  margin: 50px auto;
  max-width: 1000px;
  color: #ffffff; 
  font-family: 'Montserrat', sans-serif;
}

section {
  padding: 25px 10px;
  border-radius: 30px; 
  box-shadow: 0 10px 20px rgb(0 0 0 / 25%);
  margin: 15px 0;
  border: 2px solid #503D2E;
  max-height: 300px; 
}

.top-row {
  background: linear-gradient( to bottom, rgb(240, 236, 201, .6) 0%, rgb(231, 115, 79, .8)); 
}

.form {
  text-align: center;
  font-size: 20px;
  max-width: 350px;
  height: auto; 
  margin: auto;
}

#search-box {
  border-radius: 5px;
  border: 1px solid #ffffff;
}

img {
  max-width: 50%; 
  height: auto; 
  border-radius: 10px;
  display: block;
  margin: 10px auto auto auto;  
}

.quote {
  text-align: center;
  font-size: 18px;
  margin: auto; 
}

.button {
  font-size: 15px;
  margin: 10px auto; 
  border-radius: 7px;
  transition: all 150ms ease-in-out;
  background: rgb(80, 61, 46, .8);
  border: 1px solid #ffffff;
  color: #ffffff; 
}

.button:hover {
  color: #503D2E;
  background: #ffffff;
  border: 1px solid #503D2E;
}

.current-info-row {
  background: linear-gradient( to bottom, rgb(240, 236, 201, .6) 0%, rgb(227, 167, 47, .8)); 
}

.current-city {
  font-size: 28px;
  text-align: center;
  margin: auto; 
}

.date-time {
  font-size: 18px;
}

.temp {
  font-size: 25px;
  padding: 5px 0 0 0; 
  margin: auto; 
}

a {
  color: #503D2E; 
}

a:hover {
  color: rgb(5, 135, 137);
  font-weight: bold; 
}

.units {
  text-decoration: none;
  font-size: 18px;
  vertical-align: top;
}

.active {
  color: #ffffff;
  cursor: default;
}

.active:hover {
  color: #ffffff; 
}

.icon {
  margin: 0 auto;
  height: auto;
  opacity: 0.9; 
  max-width: 100px; 
}

.icon-description {
  font-size: 22px;
  text-align: center;
  margin: auto; 
}

#description:first-letter {
  text-transform: capitalize;
}

.current-forecast {
  text-align: center;
  font-size: 22px;
  line-height: 1.5;
  margin: auto;
}

h3 {
  font-size: 20px;
  margin: auto;
}

.col-6 .col-sm-4 .col-md-2 {
  margin: auto; 
  padding: 0; 
  display: block; 
}

#forecast {
  text-align: center;
  font-size: 20px;
  display: flex; 
  flex-wrap: wrap; 
  background: linear-gradient( to bottom, rgb(240, 236, 201, .6) 0%, rgb(5, 135, 137, .7)); 
}

.coded-by {
  text-align: center;
  font-size: 15px;
  padding: 0 0 10px 0; 
  color: #ffffff; 
  margin: 25px 0; 
}

#open-source-link {
  text-decoration: none;
  color: rgb(227, 167, 47); 
}

#open-source-link:hover {
  text-decoration: underline;  
  color: #ffffff; 
}
